



<footer class="footer ">
    <div class="container-fluid">
        <nav>
            <ul class="footer-menu">
                <li>
                    <a href="#">
                    </a>
                </li>
                <li>
                    <a href="#">
                    </a>
                </li>
                <li>
                    <a href="#">
                    </a>
                </li>
                <li>
                    <a href="#">
                    </a>
                </li>
            </ul>
            <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Sauvage Cyprien
            </p>
        </nav>
    </div>
</footer>
</div>
</div>

<script type="text/javascript" src="js/core/jquery.3.2.1.min.js" onload="window.$ = window.jQuery;"></script>
<script type="text/javascript"  src="/js/core/popper.min.js"></script>

<script type="text/javascript" src="js/core/bootstrap.min.js"></script>
<script type="text/javascript"  src="/js/light-bootstrap-dashboard.js"></script>

<script type="text/javascript"  src="/js/plugins/bootstrap-datepicker.js"></script>
<script type="text/javascript"   src="/js/plugins/bootstrap-notify.js"></script>
<script type="text/javascript"  src="/js/plugins/bootstrap-switch.js"></script>
<script type="text/javascript"  src="/js/plugins/chartist.min.js"></script>
</body>
</html>
