<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <meta charset="UTF-8">
    <title>Fiche Kilométrique</title>

    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon.png">
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet"  type="text/css" href="../css/bootstrap.min.css">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet"  type="text/css"href="../css/demo.css">
    <!--  Light Bootstrap Table core CSS    -->
    <link rel="stylesheet" type="text/css" href="../css/light-bootstrap-dashboard.css?v=2.0.0">
    <!-- Animation library for notifications   -->
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>


<body class="body">

<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="/img/sidebar-5.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:;" class="simple-text">
                    <i class="nc-icon nc-atom"></i> Fiche Km
                </a>
            </div>
            <ul class="nav">

                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="nc-icon nc-ambulance"></i>
                        <p>Annuler</p>
                    </a>
                </li>

                <li class="nav-item active active-pro">
                    <a class="nav-link active" href="javascript:;">
                        <i class="nc-icon nc-alien-33"></i>
                        <p>Sauvage Cyprien</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid">
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Création
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/register">Créer un utilisateur</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/addVoiture">Créer un véhicule</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/addtrajet">Créer un trajet</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/addentreprise">Créer une entreprise</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/addfiches">Créer une fiche</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nc-icon nc-zoom-split"></i>
                                <span class="d-lg-block">&nbsp;Search</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <span class="no-icon">Log out </span> <i class="nc-icon nc-delivery-fast"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->



