<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
 
<body>
    <nav class="navbar navbar-dark bg-light">
        <a class="navbar-brand">Navbar</a>
        <button class="btn btn-outline-danger" id="quit">Quitter</button>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>