
<!DOCTYPE html>
<html>
<head>
    <title>Fiche Kilométrique</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/light-bootstrap-dashboard.css">

</head>
<body class="body">
<!-- Image and text -->

<nav class="navbar navbar-dark bg-dark navbars">
    <a class="navbar-brand" href="/">
        <img src="/images/electron.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        electronJS
    </a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/login">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notif">notif</a>
        </li>
    </ul>
</nav>        <%- body %>


<script type="text/javascript"  src="/js/script.js"></script>
<script type="text/javascript"  src="/js/jquery-3.5.1.slim.js"></script>
<script type="text/javascript"  src="/js/bootstrap.js"></script>
<script type="text/javascript"  src="/js/bootstrap.bundle.js"></script>
<script type="text/javascript"   src="/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="/js/popper.js"></script>
<script type="text/javascript"  src="/js/plugins/bootstrap-datepicker.js"></script>
<script type="text/javascript"   src="/js/plugins/bootstrap-notify.js"></script>
<script type="text/javascript"  src="/js/plugins/bootstrap-switch.js"></script>
<script type="text/javascript"  src="/js/plugins/chartist.min.js"></script>
<script type="text/javascript"  src="/js/plugins/nouislider.min.js"></script>
<script type="text/javascript"  src="/js/core/bootstrap.min.js"></script>
<script type="text/javascript"  src="/js/core/popper.min.js"></script>
<script type="text/javascript"  src="/js/core/jquery.3.2.1.min.js"></script>


</body>
</html>