<%- include('../includes/layout-template') -%>
        <div class="content">
            <div class="container-fluid">
                <div class="section">

                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div id="message">
                                                <div id="alertmsg" class="w-50 mx-auto my-3">
                                                    <% if (error_message.length != 0) { %>
                                                        <div class="alert alert-danger">
                                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                            <span>
                            <b> Error- </b><%= error_message %></span>
                                                        </div>

                                                    <% } %>

                                                    <% if (success_message.length != 0) { %>
                                                        <div class="alert alert-warning">
                                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                            <span>
                                    <b> Success - </b> <%= success_message %></span>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
<%- include('../includes/footer') -%>