
<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <div class="row">
        <img src="/images/electron.png" alt class="img-electron" >

        <h1 class="text-center">Fiche Kilometrique</h1></div>
    </a>
</nav>

<div class="container  p-5">


    <br/>
    <div class="card">

        <div class="card-body">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">S'incrire</a>
                </li>
                <li>

                </li>
            </ul>


        </div>


    </div>

</div>
